/* nav {
  background: linear-gradient(90deg, #1e3c72, #2a5298);
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

nav a:hover {
  border-bottom: 2px solid white;
} */
