/* h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

img {
  display: block;
  margin: 20px auto;
  width: 220px;
  border-radius: 12px;
}

p {
  text-align: center;
  font-size: 17px;
  margin: 8px;
}

a {
  display: inline-block;
  margin: 25px auto;
  padding: 10px 22px;
  background: #2a5298;
  color: white;
  border-radius: 25px;
  font-weight: bold;
} */
