/* h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 32px;
}

a {
  display: inline-block;
  margin: 30px auto;
  padding: 12px 25px;
  background: #2a5298;
  color: white;
  border-radius: 30px;
  font-weight: bold;
} */
